<ion-header>
  <ion-toolbar >
    <ion-title class="ion-text-center" color="dark">Servicios</ion-title>
    <ion-buttons slot="start">
      <ion-col>
        <ion-button type="submit" color="dark" expand="block" routerLink="../listar-servicios">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-avatar >
      <img src="https://cdn-icons-png.flaticon.com/512/7033/7033070.png"/>
    </ion-avatar>
    
    <ion-card-title class="ion-text-center">Creación de servicio o producto</ion-card-title>
    <form [formGroup]="serviceRegisterForm" (ngSubmit)="registerServicio()">
      <ion-item lines="full">
        <ion-label position="floating">Descripción:</ion-label>
        <ion-input formControlName="descripcion" id="descripcion" type="text" required></ion-input>
      </ion-item>
      <ion-item lines="full">
        <ion-label position="floating">Precio Unitario:</ion-label>
        <ion-input formControlName="precioUnitario" id="precioUnitario" type="number" required></ion-input>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="dark" expand="block">Registrar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>

</ion-content>