<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-center">Bienvenidos</ion-title>
    <ion-buttons slot="start" color="dark">
      <ion-menu-button menu="main-menu" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card color="dark">
      <h1 style="text-align: center;">Facturero UPS</h1>
      <img class="avatar" src="../../assets/img/registrar.png">
        <p>Esta aplicación cuenta con tres módulos:</p>
        <p>1. Módulo de Facturación</p>
        <p>2. Módulo de Productos</p>
        <p>3. Módulo de Clientes</p>
      <ion-card-content>
        <p>Todos estos módulos los encuentras en parte superior en el menu de navegación.</p>
      </ion-card-content>
    </ion-card>
  </div>
 </ion-content>